<div class="text-white">
  <div class="section-bg" style="background-image:url(images/bg/bg1.jpg);"></div>
  <div class="scrollable-content">
    <div class="vertical-centred">
      <div class="boxed boxed-inner">
        <div class="vertical-title hidden-xs hidden-sm"><span>Introduce</span></div>
        <div class="boxed">
          <div class="container">
            <div class="intro">
              <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                  <div class="profile"></div>
                  <h1 class="display-2 text-white"><span class="text-primary">Hello</span> my name is Armando.</h1>
                  <hr />
                  <h2 class="text-white"> Software Engineer</h2>
                  <div class="hr-bottom"></div>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
