  <div class="scroll-wrap">
    <!-- <div class="bg-changer">
      <div class="section-bg" style="background-image:url(images/bg/bg2.jpg);"></div>
      <div class="section-bg" style="background-image:url(images/bg/bg2-2.jpg);"></div>
      <div class="section-bg" style="background-image:url(images/bg/bg2-3.jpg);"></div>
      <div class="section-bg" style="background-image:url(images/bg/bg2-4.jpg);"></div>
      <div class="section-bg" style="background-image:url(images/bg/bg2-5.jpg);"></div>
      <div class="section-bg" style="background-image:url(images/bg/bg2-6.jpg);"></div>
    </div> -->
    <div class="scrollable-content">
      <div class="vertical-centred">
        <div class="boxed boxed-inner">
          <div class="vertical-title hidden-xs hidden-sm"><span>my works</span></div>
          <div class="boxed">
            <div class="container">
              <div class="intro">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="title-uppercase text-white">Projects</h2>
                    <div class="row-project-box row">
                      <div *ngFor="let repo of repos" class="col-project-box col-sm-6 col-md-4 col-lg-3">
                        <app-project-card [projectName]="repo.name" [desc]="repo.description"></app-project-card>
                      </div>
                    </div>
                    <a href="#" class="h5 link-arrow text-white">view all projects <i
                        class="icon icon-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
