<app-loading *ngIf="loading"></app-loading>

<ul id="menu">
  <li class="" data-menuanchor="home"><a href="#home">Home</a></li>
  <li class="" data-menuanchor="aboutme" class=""><a href="#aboutme">About Me</a></li>
</ul>

<div  *ngIf="!loading" fullpage id="fullpage" [options]="config" class="fullpage-wrapper" (ref)="getRef($event)" #fullpageRef>
  <div class="section" id="section-1" data-anchor="home">
    <app-hero></app-hero>
  </div>
  <div  class="section" id="section-2" data-anchor="aboutme">
    <div *ngIf="!loading">
      <app-aboutme [skills]="resume.skills"></app-aboutme>
    </div>
  </div>
</div>

